--
-- PostgreSQL database dump
--

\restrict FS01M1kcTLRH3xR8yoYNwqVeTkcjpOvT1XH2QQmDLeStOJq2Hd6GGB7TgL63X5u

-- Dumped from database version 17.9
-- Dumped by pg_dump version 17.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: tenant_1; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA tenant_1;


ALTER SCHEMA tenant_1 OWNER TO postgres;

--
-- Name: notetype; Type: TYPE; Schema: tenant_1; Owner: postgres
--

CREATE TYPE tenant_1.notetype AS ENUM (
    'vehicle',
    'engineering',
    'labor',
    'other',
    'memo'
);


ALTER TYPE tenant_1.notetype OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: users; Type: TABLE; Schema: tenant_1; Owner: postgres
--

CREATE TABLE tenant_1.users (
    id integer NOT NULL,
    username character varying NOT NULL,
    hashed_password character varying NOT NULL,
    full_name character varying,
    role character varying,
    village_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE tenant_1.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: tenant_1; Owner: postgres
--

CREATE SEQUENCE tenant_1.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE tenant_1.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: tenant_1; Owner: postgres
--

ALTER SEQUENCE tenant_1.users_id_seq OWNED BY tenant_1.users.id;


--
-- Name: work_notes; Type: TABLE; Schema: tenant_1; Owner: postgres
--

CREATE TABLE tenant_1.work_notes (
    id integer NOT NULL,
    type text NOT NULL,
    title character varying NOT NULL,
    content text,
    user_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    extra_data jsonb
);


ALTER TABLE tenant_1.work_notes OWNER TO postgres;

--
-- Name: work_notes_id_seq; Type: SEQUENCE; Schema: tenant_1; Owner: postgres
--

CREATE SEQUENCE tenant_1.work_notes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE tenant_1.work_notes_id_seq OWNER TO postgres;

--
-- Name: work_notes_id_seq; Type: SEQUENCE OWNED BY; Schema: tenant_1; Owner: postgres
--

ALTER SEQUENCE tenant_1.work_notes_id_seq OWNED BY tenant_1.work_notes.id;


--
-- Name: users id; Type: DEFAULT; Schema: tenant_1; Owner: postgres
--

ALTER TABLE ONLY tenant_1.users ALTER COLUMN id SET DEFAULT nextval('tenant_1.users_id_seq'::regclass);


--
-- Name: work_notes id; Type: DEFAULT; Schema: tenant_1; Owner: postgres
--

ALTER TABLE ONLY tenant_1.work_notes ALTER COLUMN id SET DEFAULT nextval('tenant_1.work_notes_id_seq'::regclass);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: tenant_1; Owner: postgres
--

ALTER TABLE ONLY tenant_1.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: work_notes work_notes_pkey; Type: CONSTRAINT; Schema: tenant_1; Owner: postgres
--

ALTER TABLE ONLY tenant_1.work_notes
    ADD CONSTRAINT work_notes_pkey PRIMARY KEY (id);


--
-- Name: ix_users_id; Type: INDEX; Schema: tenant_1; Owner: postgres
--

CREATE INDEX ix_users_id ON tenant_1.users USING btree (id);


--
-- Name: ix_users_username; Type: INDEX; Schema: tenant_1; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_username ON tenant_1.users USING btree (username);


--
-- Name: ix_work_notes_id; Type: INDEX; Schema: tenant_1; Owner: postgres
--

CREATE INDEX ix_work_notes_id ON tenant_1.work_notes USING btree (id);


--
-- Name: work_notes work_notes_user_id_fkey; Type: FK CONSTRAINT; Schema: tenant_1; Owner: postgres
--

ALTER TABLE ONLY tenant_1.work_notes
    ADD CONSTRAINT work_notes_user_id_fkey FOREIGN KEY (user_id) REFERENCES tenant_1.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict FS01M1kcTLRH3xR8yoYNwqVeTkcjpOvT1XH2QQmDLeStOJq2Hd6GGB7TgL63X5u

